<html>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
</head>
<button id="up" >UpdateSearch</button>
<input type="text" placeholder="Song name" id="songName">
    
<div ng-app="myApp">
<div ng-controller="PeopleCtrl">
    <a id="clickNow" ng-click=""></a>
      <div ng-repeat="results in people">
        <p>Track: {{results.trackName}}</p>
        <p>Artist: {{results.artistName}}</p>
        <img ng-src="{{results.artworkUrl100}}" style="width: 200px; height: 200px">
        <button onclick='searchYoutube("{{results.trackName}}" ,"{{results.artistName}}")' >Download</button>
        <p>Time: {{results.trackTimeMillis}}</p>
        <br>
      </div>
        <input type="button" id="search" value="update" ng-click="updateName(people);" style="display: none">
      </div>
</div>
</div>
        
<script>
 // https://www.googleapis.com/youtube/v3/search?key=AIzaSyDDBk8tAkod1VRRNyFZF09fgQyMpnSe5HI&q=rihanna%20stay&part=snippet,id
 // https://www.googleapis.com/youtube/v3/videos?id=JF8BRvqGCNs&key=AIzaSyDDBk8tAkod1VRRNyFZF09fgQyMpnSe5HI&part=snippet,contentDetails,statistics,status
function searchYoutube(title, artist)
{
    var video = [];
    var id = [];
    var time = [];
    var i;
    console.log("Title: " + title + " - Artist: " + artist);
    
        $.ajax({
                url:"https://www.googleapis.com/youtube/v3/search",
                data:{key:"AIzaSyDDBk8tAkod1VRRNyFZF09fgQyMpnSe5HI",q:artist + title,part:"snippet,id",type:"video"},
                type:"GET",
                dataType: "jsonp",
                success: function(data, dataType)
                {
                    console.log(data.items);
                    
                    var count = 4;
                        
                    for(i = 0; i < count; i++)
                    {
                            video[i] = data.items[i].snippet.title;
                            id[i] = data.items[i].id.videoId;

                            getTime(id[i], i, count);
                    }
                    
                }
 
        })
    
    function getTime(id, i, count)
    {
        var duration;

        $.ajax({                    
           url:"https://www.googleapis.com/youtube/v3/videos",
           data:{key:"AIzaSyDDBk8tAkod1VRRNyFZF09fgQyMpnSe5HI",id:id,part:"snippet,contentDetails,statistics,status"},
           type:"GET",
           dataType: "jsonp",
           success: function(data, dataType)
           {
               duration = data.items[0].contentDetails.duration;
               saveTime(duration, i, count);
           }

        })   

    }
    
    function saveTime(duration, i, count)
    {
        //console.log(video[i] + " - ID: "+ id[i] + " Time: " + duration);
        time[i] = duration;
        
        if (i == count - 1) showTime(count);
    }
    
    function showTime(count)
    {   
        var i;
        for (i = 0; i < count; i++)
        {
            if (typeof(time[i]) == 'undefined')
            {
                $.getJSON('https://www.googleapis.com/youtube/v3/videos?id='+ id[i] +'&key=AIzaSyDDBk8tAkod1VRRNyFZF09fgQyMpnSe5HI&part=snippet,contentDetails,statistics,status', function(data) {
                    time[i] = data.items[0].contentDetails.duration;
                    
                });
                
            }
        }
        
        setTimeout(function(){  displayTime(count);  }, 500);
    }
    
    function displayTime(count)
    {
        for(var i = 0; i < count; i++)
        {
            console.log(video[i] + " - ID: "+ id[i] + " Time: " + time[i]);
        }
    }
        
}

$('#up').click(function(){
    $("#search").click();
        setTimeout(function(){ 
            $("#search").click();
        }, 1000);
});
    
$( document ).ready(function() {
       setTimeout(function(){ 
            $("#clickNow").click();
        }, 1500);
});    

</script>

<script>
//https://itunes.apple.com/WebObjects/MZStore.woa/wpa/MRSS/featuredalbums/sf=143441/limit=10/rss.xml
// Make the top 10 songs default shown
var app = angular.module('myApp', []);

function PeopleCtrl($scope, $http) {

    $scope.people = [];
    
    var data;

        $.ajax({
                url:"http://itunes.apple.com/search",
                data:{term:"blue foundation eyes on fire",entity:"song",limit:"10"},
                type:"GET",
                dataType: "jsonp",
                success: function(data, dataType)
                {
                    load(data.results);
                }
 
        })
        
function load(data){
    console.log(data);
    $scope.people = data;
}
    
// Updating Object
    

    
$scope.updateName = function(people)
{   
        $.ajax({
                url:"http://itunes.apple.com/search",
                data:{term:$('#songName').val(),entity:"song",limit:"10"},
                type:"GET",
                dataType: "jsonp",
                success: function(data, dataType)
                {
                     updateLoad(data);
                }
 
        })
        
    function updateLoad(data)
    {
        var count = data.resultCount;
        data = data.results;
        console.log(data);
        
        for (var i = 0; i < count; i++)
            {
                people[i].trackName = data[i].trackName;
                people[i].artistName = data[i].artistName;
                people[i].artworkUrl100 = data[i].artworkUrl100;
                people[i].trackTimeMillis = data[i].trackTimeMillis;
                people[i].artworkUrl100 = people[i].artworkUrl100.replace(/100/g, '400');
                people[i].trackTimeMillis = convertTime(people[i].trackTimeMillis);
            }
        
    }

}

function convertTime(millis) {
  var minutes = Math.floor(millis / 60000);
  var seconds = ((millis % 60000) / 1000).toFixed(0);
  return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
}


// End
}    
// http://codepen.io/aurer/pen/hnDgC
// http://thomaspark.co/project/expandingalbums/#
// http://codepen.io/LeonimuZ/pen/amlLs
// http://codepen.io/alexerlandsson/pen/JoQaQO
// Itunes Slider http://codepen.io/D_Slike/pen/QGyvQJ
// Get top tracks https://itunes.apple.com/us/rss/topsongs/limit=15/genre=pop/explicit=true/json
// player http://codepen.io/benkadev/pen/tradf
// Alternative itunes search http://codepen.io/shshaw/pen/XddjdR
</script>

</html>